name: run_bundling
on:
  workflow_dispatch: 

jobs:
  bundle_windows_x86_64:
    runs-on: windows-2022 
    env:
      CARGO_TERM_COLOR: always
      RUST_BACKTRACE: '1'
      CARGO_INCREMENTAL: 0
      # Указываем путь к рабочей директории
      ZED_WORKSPACE: ${{ github.workspace }}
    steps:
    - name: checkout_repo
      uses: actions/checkout@v4
      with:
        clean: false

    - name: setup_rust
      uses: dtolnay/rust-toolchain@stable

    - name: Patch Script for GitHub Runner
      # На GitHub Runners стоит Visual Studio Enterprise, а скрипт ищет Community.
      # Эта команда автоматически меняет путь в скрипте сборки.
      run: |
        (Get-Content script/bundle-windows.ps1) -replace 'Community', 'Enterprise' | Set-Content script/bundle-windows.ps1
      shell: pwsh

    - name: run_bundling
      # Запускаем сборку
      run: powershell script/bundle-windows.ps1 -Architecture x86_64
      shell: pwsh

    - name: upload_artifact
      uses: actions/upload-artifact@v4
      with:
        name: Zed-Windows-Bypassed
        # Путь к готовому файлу
        path: target/release/zed.exe 
        if-no-files-found: warn
